ion-content {
    --background: transparent;
    background-color: #1d5f8b;
    background-size: 100% 100%;
    overflow: hidden;
    --padding-bottom: 1rem;

    > * {
        max-width: 900px;
        margin: auto !important;
    }

    img.logo {
        // width: 45%;
        // margin-top: -12px;
        // max-width: 400px;
        max-height: 200px;
    }
    p.title {
        font-size: 1.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        line-height: 24px;
        color: #ffffff;
        font-weight: 500;
        margin: -12px;
    }
    p.subtitle {
        font-size: 18px;
        color: #ffffff;
        padding: 12px 24px 0px;
        text-align: left;
    }
    p.privacy {
        font-size: 18px;
        color: #ffffff;
        font-weight: 300;
        white-space: nowrap;
        margin-top: 0px;
    }
}

.light-padding {
    --padding-top: .5rem; 
    --padding-bottom: .5rem;
    --inner-padding-end: 0px;
    --padding-start: .5rem;
}

a {
    font-weight: 500;
    color: #ffffff;
    margin-left: 4px;
    border-bottom: #ffffff 1px solid;
}
// @media screen and (max-height: 640px) {
//     p.privacy {
//         position: relative;
//         margin-top: 32px;
//         text-align: center;
//     }
// }
// @media screen and (min-height: 641px) {
//     p.privacy {
//         position: absolute;
//         left: 50%;
//         //bottom: 8px;
//         transform: translateX(-50%);
//     }
// }
p.support-text {
    color: white;
}

.rounded {
    --border-radius: 16px;
}

.light-divider {
    height: 1px; 
    width: 90%; 
    background-color: var(--ion-color-light);
}