<ion-header>
  <ion-toolbar appAM>
    <!-- <ion-buttons slot="start">
      <ion-button mode="md" fill="clear" (click)="goBack()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>You Made it! Congrats!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appAM>
  <div class="upperBody" appAM>
    <img appAM imageType="banner"class="complete-banner">
    <div class="congratulation">
        <img src="assets/imgs/logo1_default.png">
        <div class="con-txt">Registration Graduation!</div>
        <div class="con-subtxt">You are now an official member of your college's Alumni Network!  </div>
    </div>
  </div>
  <div class="btn-start">
    <ion-button class="btn-start" expand="full" shape="round" (click)="onSubmit()">Get Matched Now</ion-button>
  </div>
  <div class="thank-txt">
    Click the green button above to get matched to all other alumni within your alumni networks. Have FUN! Who will you meet?
  </div>
</ion-content>

<!-- <ion-footer appAM class="btn-footer">
  <ion-button appAM (click)="onSubmit()" expand="block" class="ion-no-margin">Submit</ion-button>
</ion-footer> -->