<ion-header>
  <ion-toolbar appAM>
    <ion-buttons slot="start">
      <ion-button mode="md" (click)="back()">
        <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Invite Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="am-title" appAM>Invite Code</p>
  <ion-item class="am-control-item" lines="none">
    <ion-input type="number" [value]="code" placeholder="Invite Code" readonly class="ion-text-center"></ion-input>
  </ion-item>
  <ion-label class="am-label ion-margin-top ion-margin-bottom" appAM *ngIf="expired"> Invite code is availble until {{expired | date : 'MM/dd/yyyy hh:mm:ss a'}} </ion-label>

  <ion-item lines="none" class="am-action-item ion-margin-top">
    <ion-button class="am-btn-add" size="small" expand="fill" appAM (click)="refreshCode()"> Refresh Invite Code </ion-button>
  </ion-item>
  <ion-item class="userListBlock">
    <ion-row class="d-flex align-items-center py-3">
      <ion-col class="col-3 text-center invited-count-wrap">
        <div class="invited-count" appAM>
          <span> {{totalCount?totalCount:0}} </span>
        </div>
      </ion-col>
      <ion-col class="col-9"> Member{{totalCount === 1 ? ' has' : 's have'}} registered using your invite code{{totalCount > 0 ? '. See them below:' : ''}} </ion-col>
    </ion-row>
  </ion-item>
  <ion-list *ngIf="totalCount && totalCount>0">
    <div *ngFor="let user of users; let i = index">
      <ion-row class="d-flex align-items-center">
        <!-- <ion-col class="col-1 text-center ion-no-padding">
          <b>{{i+1}}.</b>
        </ion-col> -->
        <ion-col>
          <app-alumni [user]="user" (profileClick)="viewProfile(user)"></app-alumni>
          <app-ad *ngIf="ad && ((i % 5 === 0 && i !== 0) || (5 > users.length && i === users.length - 1))" [sponsor]="sponsor" [ad]="ad"></app-ad>
        </ion-col>
      </ion-row>
    </div>
    <app-alumni-loading *ngIf="load.users === 1;"></app-alumni-loading>
    <div class="ion-text-center" *ngIf="load.users === 0" (click)="getAllUsers()">
      <ion-button size="small" appAM class="load-more">Load More</ion-button>
    </div>
  </ion-list>
  <ion-item *ngIf="!totalCount">
    <div class="text-center py-3 w-100">When someone uses your invite code, they will show up here</div>
  </ion-item>
</ion-content>
