<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267418649890-oj9miif7j6c281fc2dtfoqdkmjh4ksiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267418649890-oj9miif7j6c281fc2dtfoqdkmjh4ksiu</string>
	<key>API_KEY</key>
	<string>AIzaSyBBH3BsRTeX6x6TwQ4ThxFQKmdki7lwKro</string>
	<key>GCM_SENDER_ID</key>
	<string>267418649890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alumni.app</string>
	<key>PROJECT_ID</key>
	<string>alumnimatchapp</string>
	<key>STORAGE_BUCKET</key>
	<string>alumnimatchapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267418649890:ios:ff975e8560876a8215517b</string>
	<key>DATABASE_URL</key>
	<string>https://alumnimatchapp.firebaseio.com</string>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
</dict>
</plist>