.description {
    font-size: 16px;
    text-align: justify;
    span {
        color: #09548a;
        // border-bottom: #09548a 1px solid;
    }
}
ion-footer.btn-footer.ios.footer-ios.hydrated{
    margin-top: -50px;
}
.mb-50{
    margin-bottom: 50px;
}
