<ion-header></ion-header>
<ion-content class="ion-no-padding">
  <ion-grid class="h-50 ion-no-padding ion-no-margin">
    <ion-row class="top-row ion-no-padding ion-no-margin">
      <ion-col class="w-50 ion-no-padding ion-no-margin">
        <img class="top-img" src="assets/imgs/login/icn_execting_member.png">
        <p class="top-title">Existing</p>
        <button ion-button class="top-btn login" (click)="next(0)">Sign In</button>
      </ion-col>
      <ion-col class="w-50 ion-no-padding ion-no-margin">
        <img class="top-img" src="assets/imgs/login/icn_new_member.png">
        <p class="top-title">New</p>
        <button ion-button class="top-btn join" (click)="next(1)">Join Up</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img src="assets/imgs/login/icn_loader.png" width="100" height="100" class="center-img">
  <ion-row class="h-50">

    <ion-list class="bottom-list ion-padding">
      <h5 style="text-align: center; color: aliceblue;">Welcome to AlumniMatch!</h5>
 
      <div class="sub-item">
        <!-- <div item-start>
          <img class="bottom-img" src="assets/imgs/login/icn_logomini.png" width="28" height="28">
        </div> -->
        <div item-content class="description">
          Thank you for visiting! AlumniMatch instantly matches and connects you with other college alumni from your past college life in a free and easy to use app! The app is invite only and creates private networks for each alumni community.

          <br><br>
          Members are matched based by shared:<br><br>
          <ul style="padding-left: 5%;">
            <table style="width: 100%;">
              <tr>
                <td style="width: 50%;">
                  <li>Past College Degrees
                </td>
                <td style="width: 50%; padding-left: 3%;">
                  <li>Past Student Orgs
                </td>
              </tr>
              <tr>
                <td style="width: 50%;">
                  <li>Hobbies & Interests
                </td>
                <td style="width: 50%; padding-left: 3%;">
                  <li>Favorite Games to Play  
                </td>
              </tr>
              <tr>
                <td style="width: 50%;">
                  <li>Industries & Work Needs
                </td>
                <td style="width: 50%; padding-left: 3%;">
                  <li>Spirituality & Religion
                </td>
              </tr>
              <tr>
                <td style="width: 50%;">
                  <li>Relationship Desires
                </td>
                <td style="width: 50%; padding-left: 3%;">
                  <li>and so much more!
                </td>
                
              </tr>
            </table>
          </ul>

        </div>
      </div>
      <div class="sub-item ion-margin-top">
        <!-- <div item-start>
          <img class="bottom-img" src="assets/imgs/login/icn_logomini.png" width="28" height="28">
        </div> -->
        <div item-content class="description">
          Imagine who you will meet on AlumniMatch! 
          <br><br>
         <b>Your Privacy:</b> AlumniMatch never shares your information outside of the platform, and members can easily remove their account anytime. Learn more at www.alumnimatch.co. 
          </div>
      </div>
    </ion-list>
  </ion-row>
</ion-content>