ion-card {
    margin: 0;
    border: #ddd 1px solid;
    padding: 8px;
}
.title-item {
    --border-color: #333;
}

.remove-caret {
    background: transparent;
    color: transparent;
}

.readjust-item-text {
    padding-left: 10%;
}