<ion-content class="ion-padding">
  <h4>
    By joining AlumniMatch, you acknowledge and understand that: 
  </h4> 
  <p>
    
    <br><br>
    Your data is 100% yours and is your data is NEVER shared with an external 3rd party. You control which alumni can see the data you provide in the questions in user registration and you control how the algorithm matches you to people within your alumni networks.
    
    <br><br>

<!--
    <app-ad *ngIf="ad" [sponsor]="sponsor" [ad]="ad" [preview]="true" ></app-ad>
-->
   
    Your profile answers you are adding in the next few steps can easily be edited anytime and then your match percentages will change automatically! You can also remove your account and all of your data anytime you want, and it is very easy to do so. We want to create a truly trusted online community. When you remove your account, all of your data is removed permanently. 
    
    <br><br>

 Good luck getting through user registration, it doesn't take long and it is worth it. Imagine who you will meet on AlumniMatch! 
    
  </p>
</ion-content>

<ion-footer appAM class="btn-footer">
  <ion-toolbar>
    <ion-button (click)="continue()" expand="block" class="ion-no-margin" appAM>Get Started!</ion-button>
  </ion-toolbar>
</ion-footer>
