<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>Your Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="nameForm">
    <ion-label class="am-label">Your First Name</ion-label>
    <ion-item class="am-control-item" lines="none">
      <ion-input type="text" placeholder="First Name" formControlName="first_name"></ion-input>
    </ion-item>
    <ion-label class="am-label">Your Last Name</ion-label>
    <ion-item class="am-control-item" lines="none">
      <ion-input type="text" placeholder="Last Name" formControlName="last_name"></ion-input>
    </ion-item>
    <ion-label class="am-label">Your Email</ion-label>
    <ion-item class="am-control-item" lines="none">
      <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="nameForm.get('email').hasError(validation.type) && (nameForm.get('email').dirty || nameForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item lines="none" class="am-action-item">
      <ion-button (click)="onSubmit()" class="am-btn-add" size="small" expand="fill" color="success" [disabled]="!nameForm.valid">
        Next
      </ion-button>
    </ion-item>
  </form>
</ion-content>
