<ion-header>
  <ion-toolbar appAM>
    <ion-buttons slot="start">
      <ion-button mode="md" (click)="dismiss()">
        <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Friends</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="md" appAM>
    <ion-searchbar mode="ios" #searchBar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!multiple">
    <ion-radio-group #singleSelect>
      <ion-item *ngFor="let item of users | filterAlumni: searchBar.value">
        <ion-label class="ion-no-margin">
          <app-alumni [user]="item" [detailIcon]="false"></app-alumni>
        </ion-label>
        <ion-radio slot="start" mode="md" [value]="item.id" [checked]="selectedUser === item.id" (ionSelect)="selectedUser = item.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list *ngIf="multiple">
    <ion-item *ngFor="let item of users | filterAlumni: searchBar.value">
      <ion-label class="ion-no-margin">
        <app-alumni [user]="item" [detailIcon]="false"></app-alumni>
      </ion-label>
      <ion-checkbox slot="end" mode="md" [(ngModel)]="item.selected"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer appAM class="btn-footer">
  <ion-toolbar>
    <ion-button (click)="onSelect()" expand="block" class="ion-no-margin" appAM>Submit</ion-button>
  </ion-toolbar>
</ion-footer>
