@font-face {
    font-family: 'TypoGraphica';
    src: url('../assets/fonts/TypoGraphica.otf');
}

@font-face {
    font-family: 'BAUHS93';
    src: url('../assets/fonts/BAUHS93.ttf');
}

@font-face {
    font-family: 'HardyMind';
    src: url('../assets/fonts/HardyMind.ttf');
}