/* .am-label {
    margin-top: 8px;
    text-align: left;
}
.am-label:first-child {
    margin-top: 0px;
} */
.degrees {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom:1px solid lightgrey;
}
.description {
    font-size: 16px;
    text-align: justify;
    span {
        color: #09548a;
        // border-bottom: #09548a 1px solid;
    }
}