<ion-header>
  <ion-toolbar appAM>
    <ion-buttons slot="start">
      <ion-button mode="md" (click)="back()">
        <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Access Management</ion-title>
  </ion-toolbar>
  <ion-toolbar class="segments-toolbar">
    <ion-segment scrollable [(ngModel)]="fsegment" mode="ios" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="ios" value="all" appAM> All </ion-segment-button>
      <ion-segment-button mode="ios" value="requests" appAM> Request </ion-segment-button>
      <ion-segment-button mode="ios" value="approved" appAM> Approved </ion-segment-button>
      <ion-segment-button mode="ios" value="pendings" appAM> Pend </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [ngSwitch]="fsegment">
  <ion-list *ngSwitchCase="'all'">
    <app-alumni *ngFor="let user of users | matchOrder" [user]="user" (profileClick)="viewProfile(user)"></app-alumni>
    <app-alumni-loading *ngIf="load.users === 1;"></app-alumni-loading>
    <div class="ion-text-center" *ngIf="load.users === 0" (click)="getAllRequest()">
      <ion-button size="small" appAM class="load-more">Load More</ion-button>
    </div>
  </ion-list>
  <ion-list *ngSwitchCase="'requests'">
    <div *ngFor="let user of requests | matchOrder">
      <app-alumni [user]="user" (profileClick)="viewProfile(user)"></app-alumni>
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-item lines="none" class="am-action-item">
              <ion-button class="am-btn" size="small" expand="block" color="success" shape="outline" (click)="approveRequest(user)"> APPROVE </ion-button>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-item lines="none" class="am-action-item">
              <ion-button class="am-btn" size="small" expand="block" color="danger" shape="outline"> IGNORE </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <app-alumni-loading *ngIf="load.requests === 1;"></app-alumni-loading>
    <div class="ion-text-center" *ngIf="load.requests === 0" (click)="getRequests()">
      <ion-button size="small" appAM class="load-more">Load More</ion-button>
    </div>
  </ion-list>
  <ion-list *ngSwitchCase="'approved'">
    <app-alumni *ngFor="let user of approved | matchOrder" [user]="user" (profileClick)="viewProfile(user)"></app-alumni>
    <app-alumni-loading *ngIf="load.approved === 1;"></app-alumni-loading>
    <div class="ion-text-center" *ngIf="load.approved === 0" (click)="getApproved()">
      <ion-button size="small" appAM class="load-more">Load More</ion-button>
    </div>
  </ion-list>
  <ion-list *ngSwitchCase="'pendings'">
    <app-alumni *ngFor="let user of pendings | matchOrder" [user]="user" (profileClick)="viewProfile(user)"></app-alumni>
    <app-alumni-loading *ngIf="load.pendings === 1;"></app-alumni-loading>
    <div class="ion-text-center" *ngIf="load.pendings === 0" (click)="getPendings()">
      <ion-button size="small" appAM class="load-more">Load More</ion-button>
    </div>
  </ion-list>
</ion-content>
