agm-map {
    width: 100%;
    height: 100%;
}
ion-searchbar {
    --color: #fff;
    --icon-color: #fff;
    --placeholder-color: #fff;
    --cancel-button-color: #fff;
    --clear-button-color: #fff;
}