<ion-header>
  <ion-toolbar appAM>
    <ion-buttons slot="start">
      <ion-button mode="md" (click)="back()">
        <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Most Popular Alumni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 appAM *ngIf="user?.college" class="title ion-padding-start ion-padding-end"># of {{user?.college.acronym}} alumni: {{users?.length}}</h5>
  <h5 appAM *ngIf="user?.college" class="title ion-padding-start ion-padding-end">Your rank: {{user?.rank}}</h5>
  <ion-list>
    <ion-grid *ngFor="let u of users; let i = index">
      <ion-row class="ion-align-items-center">
        <ion-col size="1"><span class="rank" appAM>{{u.rank}}</span></ion-col>
        <ion-col>
          <app-alumni [user]="u" (profileClick)="viewProfile(u)"></app-alumni>
        </ion-col>
      </ion-row>
      <app-ad *ngIf="ad && ((i % 5 === 0 && ad && i !== 0) || (5 > users.length && i === users.length - 1))" [sponsor]="sponsor" [ad]="ad"></app-ad>
    </ion-grid>
  </ion-list>
</ion-content>
