ion-header .btn-logo {
    --padding-start: 8px;
    --padding-end: 4px;
    width: 56px;
}
ion-menu ion-list {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    ion-icon {
        font-size: 20px;
    }
    ion-button {
        --color: black;
        font-size: 16px;
        --padding-start: 0;
        --padding-end: auto;
        margin: 0;
        text-transform: none;
        height: 40px;
        span {
            width: 100%;
            text-align: left;
            font-family: var(--ion-font-family,inherit);
        }
    }
    ion-button.sub {
        --padding-start: 4px;
        --padding-end: 4px;
        height: 22px;
        font-size: 14px;
    }
}